

.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 10px;
}

.grid-container section {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#bio-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;          
    padding-left: 0;   
    justify-content: center;
}