.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 10px;
}

.grid-container section {
    font-size: 20px;
    text-align: center;
}

#bio-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;          
    padding-left: 0;   
    justify-content: center;
}

nav > ul {
    list-style-type: none;
    display: flex;
    li {
        padding: 5px;
    }
}

